.swipeButton {
  position: fixed;
  bottom: 10vh;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  &__repeat {
    padding: 3vw !important;
  }
  &__left {
    padding: 3vw !important;
    color: palevioletred;
  }
  &__star {
    padding: 3vw !important;
    color: lightblue;
  }
  &__right {
    padding: 3vw !important;
    color: turquoise;
  }

  &__lightning {
    padding: 3vw !important;
    color: purple;
  }
}

.swipeButton .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px darkblue !important;
}
